@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');

body {
  height: 1400px;
  margin: 0;
  padding: 0;
  background-color: #03045e;
  color: #03045e
}

h1 {
  font-family: "Archivo Black";
  font-size: 3.5em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.75em;
  line-height: normal;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  color: whitesmoke;
  justify-content: flex-end;
  padding-right: 35px;
}

nav menu a {
  color: whitesmoke
}

nav menu a:hover {
  color: #45caff;
  text-decoration: none;
}

menu {
  display: flex;
  font-size: 1.5em;
  border-radius: 10px;
}

a {  
  color: #03045e;
}

a:hover {
    text-decoration: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.header-grid {
  grid-column: 1 / 4;
  grid-row: 1 / 7;
  background-color: #03045e;
}

.header {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  line-height: 1.25em;
  padding: 0px 30px 0px 30px;
}

.site_title {
  font-size: 4.5em;
  padding-top: 20%;
  padding-bottom: 10px;
  animation: 1.5s 1 slideUp;
  line-height: 90%;
}

.header_text {
  margin: 0px;
  animation: 2s 1 slideUp;
  padding-bottom: 15px;
}

.site_title span {
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.site_title span:hover {
  top: -8px;
} 

.header_text span {
  transition: ease 0.25s;
}

.header_text span:hover {
  color: #45CAFF;
}

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 100%;
    height: 300%; 
  }
  to {
    opacity: 1;
    margin: 0px;
    margin-top: 0%;
    height: 100%;
  }
}

/* Sections -----------------------------------*/


.modal { 
  display: flex;
  background-color: whitesmoke;
  padding: 35px 30px 35px 30px;
}

.content_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 15px;
}

.image_wrapper {
  align-items: center;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper:hover {
  top: -5px;
} 

img {
  height: auto;
  width: 100%;
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

/* Mortality report -----------------------------------*/

.mortality_report { 
  display: flex;
  /* dark blue */
  color: #03045E;
  /* light blue */
  background-color: #45caff;
  padding: 0px 30px 0px 30px;
}

.image_wrapper_morty {
  padding: 25px 15px 15px 0px;
  align-items: center;
}

.morty_image {
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.m_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.m_title {
  padding-top: 25px;
}

.m_description {
  padding-bottom: 25px;
  margin: 0;
}

/* New New Rom Bot -----------------------------------*/
.rom_bot { 
  display: flex;
  /* dark blue */
  color: #03045E;
  background-color: #FEC8FE;
  padding: 0px 30px 0px 30px;
}

.r_content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 35px;
}

.r_title {
  padding-top: 35px;
}

.r_description {  
  margin: 0;
}

.image_wrapper_rom {
  padding: 35px 0px 25px 15px;
  align-items: center;
}

.rom_image {
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.twitter-timeline {
  padding: 0px 35px 0px 35px;
}

/* About -----------------------------------*/

.menu_link {
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
  padding: 10px 35px 0px 0px;
  text-align: right;
  background-color: #03045E;
}

.about { 
  display: flex;
  color: whitesmoke;
  background-color: #03045E;
  padding: 0px 30px 0px 30px;
}

.a_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.image_wrapper_profile {
  padding-right: 15px;
}

#about {
  padding-top: 15px;
}

.a_description {
  padding-bottom: 15px;
}

/* Responsive ---------------------------------*/

@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  nav {
    display: flex;
    flex-direction: column;
  }
  
  .mortality_report { 
    display: flex;
    flex-direction: column;
  }

  .rom_bot {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  img {
    justify-content: center;
  }
  
  .image_wrapper_profile {
    padding-top: 15px;
    justify-content: center;
  }
}
