@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
  height: 1400px;
  margin: 0;
  padding: 0;
  cursor: none;
}

#circle {
  position: absolute;
  transform: translate(-50%,-50%);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #FD89FD;
  pointer-events: none;
  opacity: 75%;
}

h1 {
  font-family: "Archivo Black";
  font-size: 3.5em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.75em;
  line-height: normal;
  font-family: "Archivo", sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: "Archivo", sans-serif;
  color:  whitesmoke;
  background-color: #03045E;
  justify-content: flex-end;
  padding-right: 40px;
}

menu {
  display: flex 1;
  font-size: 1.5em;
  border-radius: 10px;
}

a:hover {
  text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    font-family: "Archivo", sans-serif;
    color: whitesmoke;
    /* dark blue */
    background-color: #03045E;
    line-height: 1.25em;
    padding: 0px 30px 0px 30px;
}

.site_title {
    font-size: 4.5em;
    padding-top: 100px;
}

.header_text {
    margin: 0px;
    padding-bottom: 45px;
}

/* Mortality report -----------------------------------*/

.mortality_report { 
  display: flex;
  /* dark blue */
  color: #03045E;
  /* light blue */
  background-color: #45caff;
  padding: 0px 30px 0px 30px;
}

.image_wrapper_morty {
  padding: 25px 15px 15px 0px;
  align-items: center;
}

.morty_image {
  border: 1px solid darkgray;
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.m_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.m_title {
  padding-top: 25px;
}

.m_description {
  padding-bottom: 25px;
  margin: 0;
}

/* New New Rom Bot -----------------------------------*/
.rom_bot { 
  display: flex;
  /* dark blue */
  color: #03045E;
  background-color: white;
  padding: 0px 30px 0px 30px;
}

.r_content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 35px;
}

.r_title {
  padding-top: 35px;
}

.r_description {  
  margin: 0;
}

.image_wrapper_rom {
  padding: 15px;
  align-items: center;
}

.rom_image {
  border: 1px solid darkgray;
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.twitter-timeline {
  padding: 0px 35px 0px 35px;
}

/* About -----------------------------------*/

.menu_link {
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
  padding: 10px 35px 0px 0px;
  text-align: right;
  background-color: #03045E;
}

.about { 
  display: flex;
  color: whitesmoke;
  background-color: #03045E;
  padding: 0px 30px 0px 30px;
}

.a_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.image_wrapper_profile {
  margin-bottom: 30px;
  padding-right: 15px;
}

#about {
  padding-top: 15px;
}

.a_description {
  padding-bottom: 15px;
}

/* Responsive ---------------------------------*/

@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  .nav_top {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  
  .mortality_report { 
    display: flex;
    flex-direction: column;
  }

  .rom_bot {
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
  }

  img {
    justify-content: center;
  }
  
  .image_wrapper_profile {
    padding-top: 15px;
    justify-content: center;
  }
}
