@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@800;900&display=swap');

body {
  height: 1400px;
  margin: 0;
  padding: 0;
  background-color: #03045e;
  color: #03045e
}

h1 {
  font-family: "Archivo Black";
  font-size: 3.5em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.75em;
  line-height: normal;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  color: whitesmoke;
  justify-content: flex-end;
  padding-right: 35px;
}

nav menu a {
  color: whitesmoke
}

nav menu a:hover {
  color: #45caff;
  text-decoration: none;
}

menu {
  display: flex;
  font-size: 1.5em;
  border-radius: 10px;
}

a {  
  color: #03045e;
}

a:hover {
    text-decoration: none;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.header-grid {
  grid-column: 1 / 4;
  grid-row: 1 / 7;
  background-color: #03045e;
}

header {
  grid-column: 1 / 4;
  grid-row: 1 / 4.5;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  line-height: 1.25em;
  padding: 0px 30px 0px 30px;
}

.site_title {
  font-size: 4.5em;
  padding-top: 20%;
  padding-bottom: 10px;
  animation: 1.5s 1 slideUp;
  line-height: 90%;
}

.header_text {
  margin: 0px;
  animation: 2s 1 slideUp;
  padding-bottom: 15px;
}

.site_title span {
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.site_title span:hover {
  top: -8px;
} 

.header_text span {
  transition: ease 0.25s;
}

.header_text span:hover {
  color: #45CAFF;
}

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 100%;
    height: 300%; 
  }
  to {
    opacity: 1;
    margin: 0px;
    margin-top: 0%;
    height: 100%;
  }
}

/* Sections ----------------------------------------------*/

section { 
  display: flex;
  flex-direction: row;
  padding: 35px 30px 35px 30px;
}

.modal {
  background-color: whitesmoke;
}

.mortality_report {
  /* light blue */
  background-color: #45caff;
}

.rom_bot {
  /* lavender */
  background-color: #fec8fe;
}

.about { 
  /* dark blue */
  background-color: #03045e;
  color: whitesmoke;
}

.about .section_title {
  color: #45caff;
}

.content_left {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 15px;
}

.content_right {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-left: 15px;
}

.image_wrapper {
  align-items: center;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper:hover {
  top: -5px;
} 

img {
  height: auto;
  width: 100%;
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.twitter-timeline {
  padding: 0px 35px 0px 35px;
  background-color: white;
}

/* About -----------------------------------*/

#about_link {
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
  padding: 10px 35px 0px 0px;
  text-align: right;
}

#about_link a {
  color: whitesmoke;
}

#about_link a:hover {
  color: #45caff;
}

/* Responsive ---------------------------------*/

@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  .nav_top {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }

  .site_title {
    padding-bottom: 15px;
    line-height: 105%;
  }

  section { 
    display: flex;
    flex-direction: column;
  }
  
  .section_title {
    letter-spacing: -1px;
  }

  .mortality_report.section_title {
    padding-top: 20px;
  }

  .about.image_wrapper {
    width: 75%;
  }
  
  .image_wrapper {
    padding: 0;
    margin: 0;
    justify-self: center;
    justify-content: center;
  }
}
