@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@800;900&display=swap');

body {
  height: 1400px;
  margin: 0;
  padding: 0;
  color: #03045E;
}

h1 {
  font-family: "Archivo Black";
  font-size: 3.5em;
  line-height: normal;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.75em;
  line-height: normal;
  font-family: sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: #03045E;
  justify-content: flex-end;
  padding-right: 40px;
}

a {  
  color: #03045E;
}

a:hover {
    text-decoration: none;
}

nav menu a {
  color: whitesmoke
}

nav menu a:hover {
  color: #45caff;
  text-decoration: none;
}

menu {
  display: flex 1;
  font-size: 1.5em;
  border-radius: 10px;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-1 {
  grid-column: 1 / 4;
  grid-row: 1 / 7;
  background-color: #03045E;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1 / 4.5;
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serif;
  color: whitesmoke;
  /* dark blue */
  background-color: #03045E;
  line-height: 1.25em;
  padding: 0px 30px 0px 30px;
}

.site_title {
  font-size: 4.5em;
  padding-top: 20%;
  padding-bottom: 10px;
  animation: 1.5s 1 slideUp;
  line-height: 90%;
}

.header_text {
  margin: 0px;
  animation: 2s 1 slideUp;
  padding-bottom: 15px;
}

.site_title span {
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.site_title span:hover {
  top: -8px;
} 

.header_text span {
  transition: ease 0.25s;
}

.header_text span:hover {
  color: #45CAFF;
}

.scroll-arrow {
  font-size: 1.25em;
  align-self: center;
  animation: 2.25s linear .5s 1 slideUp;
}

@keyframes slideUp {
  from {
    opacity: 0;
    margin-top: 100%;
    height: 300%; 
  }
  to {
    opacity: 1;
    margin: 0px;
    margin-top: 0%;
    height: 100%;
  }
}

/* Modal ----------------------------------------------*/

.modal { 
  display: flex;
  background-color: whitesmoke;
  padding: 0px 30px 35px 30px;
}

.modal_content {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.modal_title {
  padding-top: 35px;
  color: #03045E;
}

.image_wrapper_modal {
  padding-top: 35px;
  padding-left: 15px;
  align-items: center;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper_modal:hover {
  top: -5px;
} 

.modal_image {
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}


/* Mortality report -----------------------------------*/

.mortality_report { 
  display: flex;
  /* light blue */
  background-color: #45caff;
  padding: 5px 30px 25px 30px;
}

.image_wrapper_morty {
  padding: 25px 35px 10px 0px;
  align-items: center;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper_morty:hover {
  top: -5px;
} 

.morty_image {
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.m_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.m_title {
  padding-top: 25px;
}

.m_description {
  padding-bottom: 25px;
  margin: 0;
}

/* New New Rom Bot -----------------------------------*/

.rom_bot { 
  display: flex;
  background-color: #FEC8FE;
  padding: 0px 30px 0px 30px;
}

.r_content {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 35px;
}

.r_title {
  padding-top: 35px;
}

.r_description {  
  margin: 0;
}

.image_wrapper_rom {
  padding: 35px 0px 35px 15px;
  align-items: center;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper_rom:hover {
  top: -5px;
} 

.rom_image {
  box-shadow: -5px 8px 12px 6px rgba(0,0,0,0.2);
}

.twitter-timeline {
  padding: 0px 35px 0px 35px;
}

/* About -----------------------------------*/

.menu_link {
  font-family: "Archivo", sans-serif;
  font-size: 1.5em;
  padding: 10px 35px 0px 0px;
  text-align: right;
  background-color: #03045E;
}

.about { 
  display: flex;
  background-color: #03045E;
  padding: 0px 30px 0px 30px;
}

.image_wrapper_profile {
  padding: 0px 15px 35px 0px;
  position: relative;
  top: 0;
  transition: top ease 0.25s;
}

.image_wrapper_profile:hover {
  top: -5px;
} 

.a_content {
  display: flex;
  flex-direction: column;
  text-align: right;
}

#about {
  padding-top: 15px;
  color:  #45caff
}

.a_description {
  padding-bottom: 15px;
  color: whitesmoke;
}

/* Responsive ---------------------------------*/

@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  .nav_top {
    display: flex;
    flex-direction: column;
    max-width: 90%;
  }
  
  .site_title {
    line-height: normal;
  }

  h1 {
    line-height: 90%;
    padding-bottom: 10px;
  }

  .modal, .mortality_report, .rom_bot, .about { 
    display: flex;
    flex-direction: column;
  }

  .image_wrapper_modal, 
  .image_wrapper_morty, 
  .image_wrapper_rom, 
  .image_wrapper_profile {
    padding-right: 0;
    padding-left: 0;
    justify-self: center;
    justify-content: center;
  }
 
  .image_wrapper_profile {
    padding-top: 15px;
  }
}
